@model Lab4.Models.Movie
@{
    Layout = "_Layout";
}

    <div class="container">
        <h1>Add Movie</h1>
        <hr />
        <form asp-controller="Home" asp-action="CreateMovie">
            <div class="form-group">
                <fieldset>
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" name="title" asp-for="Title" class="form-control" />
                    </div>

                    <div class="form-group">
                        <legand>
                            SubTitle</legand>
                            <input type="text" name="subTitle" asp-for="SubTitle" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea name="description" asp-for="Description" class="form-control"> </textarea>
                    </div>

                    <div class="form-group">
                        <label>Year</label>
                        <input type="date" name="year" asp-for="Year" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Rating</label>
                        <input type="number" name="rating" asp-for="Rating" class="form-control" />
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="btn btn-primary">Add Movie</button>
        </form>

    </div>
