@{
    Layout = "_Layout";
    ViewBag.Title = "Files";
}

<h2>Franck</h2>


<class style="padding: 3%">


    <li>
        <ol> List and describe 3 types of static content that can be used in MVC Core</ol>
        
    <ol>
    <li>  Files <br />
    <p> </p>
    </li>

    <li>  Stylesheet </li>


    <li>  scripts</li>


    <li>  Images</li>

    <li>  HTML </li>

    </ol>

    <ol> Where does static content belong in an MVC Core application?</ol>

    <p>  They belong in the root folder</p>


    <ol> how to link to a static page from a controller and/or view </ol>

    <p>  </p>

    </li>


</class>
